*{
    margin: 0;
}

.hero{
    height: 650px;
    width: 100%;
    background-color: #012208;
    background-image: none;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden; 
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero h1{
    font-size: 30px;
    color: white;
}

.hero a{
    text-decoration: none;
    color: white;
    
}

.aa{
    height: 650px;
    background-color: white;
    display: flex;
}

.b{
    height: 650px;
    background-color: #012208;
}

.c{
    height: 650px;
    background-color: black;
}
